// Do not add any CSS to this file in the theme sources.
// This file can be overridden to add project-specific CSS.

svg {
  margin-right: 3px!important;
}

.site-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #FFF;
}
